@import "_scss/components";
@import "_scss/variables";


body {
	background: white;
	font-size: $font-size;
	font-family: 'Oswald', sans-serif;
}


// Seccion Principal

.legant {
	background: url(/img/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	&_top {
		width: 100%;
		z-index: 2;
	}

	&_container {
		// width: $md;
		margin: 0 auto;
	}

	&_row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px;  
	}

	&_brand {
		opacity: 0;
	}
	
	&_menu {
		flex: none;
		z-index: 2;
		height: 63px;
		&_list {
			float: left;
    		margin-left: 10px;
    		margin-right: 10px;
    		a {
    			display: block;
    			padding: 20px 20px;
    			color: white;
    			text-transform: uppercase;
    			font-size: 14px;
    			transition: all .2s;
    			&:hover {
    				border-bottom: 4px solid $color-one;
    			}
    		}
		}
	}

	&_brand-center {
	    width: 100%;
	    height: 100%;
		position: absolute;
		top: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    img {
	    	width: 390px;
	    	height: 250px;
	    	margin-bottom: 20px;
	    }
	}
	

	&_top-scroll {
		text-align: center;
		color: white;
		position: absolute;
		bottom: 30px;
		i {
			border: 2px solid;
    		border-radius: 50%;
    		padding: 10px 13px;
		}
	}
}


// Secion Lo que hacemos

.make {
	background-color: $color-one;
	padding: 50px 0;

	&_container {
		margin: 0 auto;
	}

	&_row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px; 		
	}

		&_title {
			font-size: 36px;
			text-transform: uppercase;
			color: $color-headings;
			text-align: center;
			margin-bottom: 20px;
			font-weight: 600;
	}
	

	&_description {
		font-size: 18px;
		color: white;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		width: 50%;
		margin: 0 auto 50px; 
	}
	

	&_development {
		width: 33%;
		font-family: 'Open Sans', sans-serif;

		&_ico--lines {

			&:before {
			    content: '';
			    width: 410px;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    top: 50%;
			    right: 0;
			}

			&:after {
			    content: '';
			    width: 410px;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    top: 50%;
			    left: 0;
			}
		}

		&_ico {
		    display: block;
		    width: 100px;
		    margin: 0 auto 20px;
		    position: relative;
		}

		&_title {
			font-size: 18px;
			font-weight: 600px;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 20px;
			color: $color-headings;
		}

		&__description {
			font-size: 14px;
			text-align: center;
			color: white;
		}

	}

	&_button {
		color: white;
		border: 2px solid white;
		padding: 15px 30px;
		border-radius: 4px;
		text-transform: uppercase;
		display: block;
    	max-width: 230px;
    	margin: 50px auto 0;
    	&:hover {
    		background-color: white;
    		color: $color-one;
    	}
	}

}

.parallax {
	background-image: url('/img/banner-parallax.jpg');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 645px;

	&_container {
		margin: 0 auto; 
	}

	&_row {
		padding-right: 15px;
		padding-left: 15px;
		height: 645px;
		display: flex;
		justify-content: center;
	}

	&_title {
		font-size: 48px;
		font-weight: 400;
		color: white;
		text-align: center;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		align-self: center;
		span {
			color: $color-one;
		}
		&:before {
			content: '';
		    width: 5px;
		    height: 120px;
		    position: absolute;
		    background-color: white;
		    top: 10px;
		    left: 0;
		}

		&:after {
			content: '';
		    width: 5px;
		    height: 120px;
		    position: absolute;
		    background-color: white;
		    top: 10px;
		    right: 0;
		}
	}

}


.team {
	background-image: url(/img/bg_team.jpg);
	background-size: cover;
	background-position: 60% 50%;
	padding: 50px 0;

	&_container {
		margin: 0 auto; 
	}

	&_row {
		padding-right: 15px;
		padding-left: 15px;
		display: flex;
	}

	&_title {
		font-size: 36px;
		font-weight: 400;
		color: $color-headings;
		text-align: center;
		position: relative;
		text-transform: uppercase;
	}

	&_subtitle {
		font-size: 18px;
		font-weight: 300;
		color: $color-one;
		text-align: center;
		position: relative;
		margin-bottom: 30px;
	}
	
	&_wrapper {
		padding-left: 15px;
		padding-right: 15px;
		width: 33%;
	}

	&_member {
		position: relative;
		overflow: hidden;

		img {
			display: block;
			overflow: hidden;
		}

		&:hover {	
			.team_member_description {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
		} 

		&_description {
			width: 100%;
			height: 100%;
			background-color: rgba(11, 67, 184, 0.8);
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(20px);
			transition: all .5s;
			opacity: 0;
			&_redes {
			    position: absolute;
			    top: 20px;
			    left: 20px;
			    display: flex;
			    width: 50px;
			    justify-content: space-between;
			    color: white;
			    z-index: 2;
			}

			&_info {
			    position: absolute;
			    bottom: 20px;
			    left: 20px;		
			    color: white;
			    z-index: 2;
			    h2 {
			    	font-size: 18px;
			    	text-transform: uppercase;
			    }
			    p {
			    	font-size: 14px;
			    	font-weight: 300;
			    }
			}
		}
	}
}


@import "_scss/utilities";