@import "_scss/components";
@import "_scss/variables";


body {
	background: white;
	font-size: $font-size;
	font-family: 'Oswald', sans-serif;
}


// Seccion Principal

.legant {
	background: url(/img/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	&__top {
		width: 100%;
		z-index: 2;
	}

	&__container {
		// width: $md;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px;  
	}

	&__brand {
		opacity: 0;
	}
	
	&__menu {
		flex: none;
		z-index: 2;
		height: 63px;
		&__list {
			float: left;
    		margin-left: 10px;
    		margin-right: 10px;
    		a {
    			display: block;
    			padding: 20px 20px;
    			color: white;
    			text-transform: uppercase;
    			font-size: 14px;
    			transition: all .2s;
    			&:hover {
    				border-bottom: 4px solid $color-one;
    			}
    		}
		}
	}

	&__brand-center {
	    width: 100%;
	    height: 100%;
		position: absolute;
		top: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    img {
	    	width: 390px;
	    	height: 250px;
	    	margin-bottom: 20px;
	    }
	}
	

	&__top-scroll {
		text-align: center;
		color: white;
		position: absolute;
		bottom: 30px;
		i {
			border: 2px solid;
    		border-radius: 50%;
    		padding: 10px 13px;
		}
	}
}


// Secion Lo que hacemos

.make {
	background-color: $color-one;
	padding: 50px 0;

	&__container {
		margin: 0 auto;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px; 		
	}

		&__title {
		font-size: 36px;
		text-transform: uppercase;
		color: $color-headings;
		text-align: center;
		margin-bottom: 20px;
		font-weight: 600;
	}
	

	&__description {
		font-size: 18px;
		color: white;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		width: 50%;
		margin: 0 auto 50px; 
	}
	

	&__development {
		width: 33%;
		font-family: 'Open Sans', sans-serif;

		&__ico--lines {

			&:before {
			    content: '';
			    width: 410px;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    top: 50%;
			    right: 0;
			}

			&:after {
			    content: '';
			    width: 410px;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    top: 50%;
			    left: 0;
			}
		}

		&__ico {
		    display: block;
		    width: 100px;
		    margin: 0 auto 20px;
		    position: relative;
		}

		&__title {
			font-size: 18px;
			font-weight: 600px;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 20px;
			color: $color-headings;
		}

		&__description {
			font-size: 14px;
			text-align: center;
			color: white;
		}

	}

	&__button {
		color: white;
		border: 2px solid white;
		padding: 15px 30px;
		border-radius: 4px;
		text-transform: uppercase;
		display: block;
    	max-width: 230px;
    	margin: 50px auto 0;
    	&:hover {
    		background-color: white;
    		color: $color-one;
    	}
	}

}


@import "_scss/utilities";