// Secion Lo que hacemos

.make {
	background-color: $color-one;
	padding: 50px 0;

	&_row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px; 		
	}

	&_title {
		font-size: 36px;
		text-transform: uppercase;
		color: $color-headings;
		text-align: center;
		margin-bottom: 20px;
		font-weight: 600;
	}
	

	&_description {
		font-size: 18px;
		color: white;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		width: 50%;
		margin: 0 auto 50px; 
	}
	

	&_development {
		width: 33%;
		font-family: 'Open Sans', sans-serif;

		&_ico--lines {

			&:before {
			    content: '';
			    width: 410px;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    top: 50%;
			    right: 0;
			}

			&:after {
			    content: '';
			    width: 410px;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    top: 50%;
			    left: 0;
			}
		}

		&_ico {
		    display: block;
		    width: 100px;
		    margin: 0 auto 20px;
		    position: relative;
		}

		&_title {
			font-size: 18px;
			font-weight: 600px;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 20px;
			color: $color-headings;
		}

		&__description {
			font-size: 14px;
			text-align: center;
			color: white;
		}

	}

	&_button {
		color: white;
		border: 2px solid white;
		padding: 15px 30px;
		border-radius: 4px;
		text-transform: uppercase;
		display: block;
    	max-width: 230px;
    	margin: 50px auto 0;
    	&:hover {
    		background-color: white;
    		color: $color-one;
    	}
	}

}